html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scrolls accidentales */
  background-color: #1a1a1a; /* Fondo oscuro para que resalte el canvas */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}